.price {
    width: 35%;
}

.unit {
    display: flex;
    justify-content: space-between;
    margin: 0.8rem;
}

.total {
    font-size: 1.3rem;
    font-weight: bold;
}

.terms {
    justify-content: start;
}

.terms-text {
    font-size: 0.9rem;
    margin-left: 0.8rem;
}

.price-button {
    background-color: #630286;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0.3rem 1.6rem;
    width: 100%;
}